{% extends "core/page_template.html" %}
{% load static %}

{% block browserTitle %} {{ block.super}} Dashboard {% endblock %}

{% block pageTitle %} Dashboard {% endblock %}

{% block extraFiles %} 

	<style>
		.colsplit {
			column-count: 3;
			column-gap: 40px;
		}
		
	</style>
	
	{% include 'applications/c3_files.inc' %}
		
{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }}">
		<div class="mv4 inline-flex items-center">
			<div><span class="f3 b dark-green code mr2">{{ postingCounts }}</span>job applications</div>
			<div class="ml3 mt1"><a href="{% url 'admin:applications_jobposting_add' %}" class="b--blue ba bg-blue bl-animate-all no-underline br1 bw1 dib hover-b--dark-blue hover-bg-dark-blue hover-white ph2 pointer pv1 white">Add new</a></div>
		</div>
		
		{% if dates %}<div id="history-chart" class="mb3" style="height:300px;"></div>{% endif %}
		
		<div class="pa4 bg-near-white">
			<div class="flex-ns justify-center">
				<div class="mb4 w-100 mw5 tc">
					<div class="f6">Avg initial screen contact</div>
					<div class="f1 dark-green">{{ avgInitialContactDays }}</div>
					<div class="">days</div>
				</div>	
				<div class="mb4 w-100 mw5 tc">
					<div class="f6">Avg declined contact</div>
					<div class="f1 dark-red">{{ avgDeclinedDays }}</div>
					<div class="">days</div>
				</div>
			</div>
				
			<div class="h1 b--gray bt mb3"></div>
			
			<div class="flex-ns">
				<div class="w-25-ns mb2 mb0-ns ml4-ns"><span class="f4 b green code mr1">{{ activePostings.count }}</span> active</div>
				<div class="w-25-ns mb2 mb0-ns ml4-ns"><span class="f4 b code mr1">{{ noContactPostings.count }}</span> awaiting initial response</div>
				<div class="w-25-ns mb2 mb0-ns ml4-ns"><span class="f4 b orange code mr1">{{ sorryPassPostings.count }}</span> passed</div>
				<div class="w-25-ns mb2 mb0-ns"><span class="f4 b dark-red code mr1">{{ declinedPostings.count }}</span> declined</div>
			</div>
		</div>
				
		
		<div class="mv5 flex-ns items-center">
			<div>Filter applications:</div>
			<div class="ml3"><input id="filter-text" type="search" value=""></div>
		</div>
		
		
		<div class="mt4 mb3"><span class="f4 b dark-green">Active</span> <span class="ml2 f5 textcolor">({{ activePostings.count }})</span></div>
		<div class="colsplit pa4 bg-near-white">
			{% for posting in activePostings %}
				{% include 'core/partials/posting_list_item.html' with posting=posting %}
			{% endfor %}
		</div>
		
		<div class="mt4 mb3"><span class="f4 b">Awaiting initial response</span> <span class="ml2 f5 textcolor">({{ noContactPostings.count }})</span></div>
		<div class="colsplit pa4 bg-near-white">
			{% for posting in noContactPostings %}
				{% include 'core/partials/posting_list_item.html' with posting=posting %}
			{% endfor %}
		</div>
		
		<div class="mt4 mb3"><span class="f4 b orange">Passed</span> <span class="ml2 f5 textcolor">({{ sorryPassPostings.count }})</span></div>
		<div class="colsplit pa4 bg-near-white">
			{% for posting in sorryPassPostings %}
				{% include 'core/partials/posting_list_item.html' with posting=posting %}
			{% endfor %}
		</div>
		
		<div class="mt4 mb3"><span class="f4 b dark-red">Declined</span> <span class="ml2 f5 textcolor">({{ declinedPostings.count }})</span></div>
		<div class="colsplit pa4 bg-near-white">
			{% for posting in declinedPostings %}
				{% include 'core/partials/posting_list_item.html' with posting=posting %}
			{% endfor %}
		</div>
		
	</div>
	
	
	<script>
		
		(function () {
			var txt = '';
			
			document.getElementById('filter-text').addEventListener('input', function () {
				try {
					txt = document.getElementById('filter-text').value.trim().toLowerCase();
				}
				catch {
					txt = '';
				}
				
				document.querySelectorAll('.application-item').forEach(function (el) {
					if (txt !== '') {
						if (el.innerHTML.toLowerCase().includes(txt)) {
							el.classList.remove('dn');
							el.classList.add('db');
						}
						else {
							el.classList.remove('db');
							el.classList.add('dn');
						}
					}
					else {
						el.classList.remove('dn');
						el.classList.add('db');
					}
				});
			});
			
		})();
		
		
		{% if dates %}
			function createApplicationHistoryChart () {
				var xSeries = {{ dates|safe }},
					counts = {{ counts|safe }};
				xSeries.unshift('x');
				counts.unshift('Applications in play');
				
				var historyChart = c3.generate({
						bindto: '#history-chart',
						point: {r: 2},
						data: {
							type: 'area-spline',
							x: 'x',
							columns: [],
							labels: true,
							colors: {
								'Applications in play': '#137752',
						  	}
						},
						axis: {
							x: {
								type: 'timeseries',
								tick: {
									format: '%B-%d'
								},
							}
						},
						legend: { show: false },
					});
					
				historyChart.load({
					columns: [xSeries,counts],
				}, 500)
			}
			setTimeout(createApplicationHistoryChart, 100);
		{% endif %}	
	
		
	</script>
	

{% endblock %}